<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>moviesList</ion-title>
    <div *ngIf="page>1">
      <ion-button slot="end" (click)="backPage()"><</ion-button>
    </div>
      <ion-button slot="end" (click)="nextPage()">></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col sizeMd="4" offsetMd="4">
        <ion-card>
          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let item of movies" [routerLink]="['/movie/' + item.id]">
                <ion-thumbnail slot="start">
                  <img alt="foto_pelicula" src={{createTemplate(item.backdrop_path)}} />
                </ion-thumbnail>
                <ion-label>{{item.title}}</ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


