<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #f="ngForm" (ngSubmit)="logIn(f)" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input name="email" type="text" ngModel #email="ngModel" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input name="password" type="password" ngModel #password="ngModel" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" expand="block">Log In</ion-button>
      </ion-col>
      <ion-col>
        <ion-button
        (click)="redirectRegister()"
        expand="block"
        >Register</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
